.hidden {
  display: none;
}

.autocomplete {
  width: 200px;
  position: relative;
}

.autocomplete > input {
  min-width: 100%;
}

.autocomplete > .options {
  border: 1px black solid;
  width: 100%;
  position: absolute;
  background-color: white;
}

.autocomplete .listItem {
  display: list-item;
  width: 100%;
  cursor: pointer;
}

.autocomplete .listItem:hover {
  background-color: rgb(211, 211, 211);
}